.banner-interno__titulo__icono i
  color: #12263F !important

.bloque-texto-c::after
  top: -26px

.bloque-texto-c.color-secundario
  background-color: #EAEEF1

.tarjeta--sena
  background-image: url(../assets/curso/tema2/img2.svg)
  background-position-x: -300px
  background-repeat: no-repeat
  background-size: cover

.pasos-b.color-acento-contenido .pasos-b__header__item--active .pasos-b__header__item__dot
  border-color: #F6525D
  background-color: #F6525D

.pasos-b__header__item--active .pasos-b__header__item__line-container::before
  background-color: #133D60

.pasos-b__header__item--before .pasos-b__header__item__line-container::before, .pasos-b__header__item--before .pasos-b__header__item__line-container::after
  background-color: #133D60

.pasos-b__header__item--before .pasos-b__header__item__dot
  border-color: #006AC1
  background-color: #006AC1

.pasos-b__header__item__dot
  background-color: #FFFFFF
  border-color: #FFFFFF

.tarjeta--azul
  background-color: #DFEAF1

.acordion__accion__btn--a
  background-color: #133D60

.acordion__accion__btn--a i, .acordion__accion__btn--b i
  color: #FFFFFF

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #133D60
  color: #FFFFFF

.tarjeta--gris
  background-color: #AED4F5

.tarjeta.color-acento-botones
  background-color: #133D60

.boton.color-acento-contenido, .color-acento-contenido.boton--sm
  background-color: #F6525D

.boton.color-acento-contenido:active, .color-acento-contenido.boton--sm:active, .boton.color-acento-contenido:focus, .color-acento-contenido.boton--sm:focus, .boton.color-acento-contenido:hover, .color-acento-contenido.boton--sm:hover
  background-color: #F6525D

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #3BA3F8

.tabs-a.color-acento-botones .tabs-a__tab__selected::before
  background-color: #3BA3F8

.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus
  background-color: #3BA3F8

.tarjeta.color-acento-botones--borde
  background-color: #DEEEFC
  border: none

.banner-principal__img
  width: 460px

table caption
  font-weight: normal

.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: #133d60
  i
    color: #FFFFFF

.banner-principal__componente h1
  line-height: 35px
  padding-bottom: 30px

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  padding-bottom: 30px

.bloque-texto-c::after
  background-color: #FFC35E

.bg-color1
  background-color: #FFEED2

.bg-color2
  background-image: url(../assets/curso/tema1/img1.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color3
  background-color: #133d60
  background-image: linear-gradient(160deg, #133d60 0%, #1b5d95 100%)

.bg-color4
  background-color: #003560

.bg-color5
  background-image: url(../assets/curso/tema1/img3.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color6
  background-color: #3BA3F8

.bg-color7
  background-color: #133D60

.bg-color8
  background-image: url(../assets/curso/tema1/img5.svg)
  background-position-y: 200px
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain

.bg-color9
  background-color: #DEEEFC

.bg-color10
  background-image: url(../assets/curso/tema2/img29.svg)
  background-repeat: no-repeat
  background-size: cover

.bg-color11
  background-color: #DEEEFC
  position: relative
  top: 20px
  right: 60px
  width: 800px

.bg-color12
  background-image: url(../assets/curso/tema2/img33.svg)
  background-repeat: no-repeat
  background-size: cover

.txt-deco1
  color: #3BA3F8
  font-weight: bold

.txt-deco2
  font-weight: bold
  background-color: #3BA3F8
  color: #FFFFFF
  padding: 6px

.txt-deco3
  color: #FCD189
  font-weight: bold

.txt-deco4
  background-color: #AED4F5
  padding: 3px

.txt-deco5
  color: #AED4F5

.txt-deco6
  font-size: 18px

.txt-deco7
  font-size: 16px

.img-deco1
  width: 65px
  position: relative
  left: 95%
  top: 67px

.banner-principal__img
  background-image: url("../assets/curso/portada/float3.svg"), url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  align-self: stretch
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat
  background-position: 17% 85%, 90% 62%, 22% 40%, 50% 50%
  background-size: 15%, 15%, 15%, 90%
  animation: Flitp 6s ease infinite
  img
    display: none !important

@media only screen and (max-width: 1199px)
  .banner-principal .tarjeta
    background-size: auto
    background-position: 0
    background-repeat: no-repeat

@keyframes Flitp
  0%
    background-image: url("../assets/curso/portada/float3.svg"), url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  25%
    background-image: url("../assets/curso/portada/float3.svg"), url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  50%
    background-image: url("../assets/curso/portada/float3.svg"), url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
    background-position: 30% 85%, 90% 40%, 22% 20%, 20% 50%
  75%
    background-image: url("../assets/curso/portada/float3.svg"), url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  100%
    background-image: url("../assets/curso/portada/float3.svg"), url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")

@media screen and ( max-width: 1400px )

  .bg-color11
    width: 680px

@media screen and ( max-width: 1200px )

  .bg-color11
    width: 570px

  .banner-principal__img
    width: 380px

@media screen and ( max-width: 992px )

  .bg-color11
    top: 0px
    right: 0px
    width: auto

  .img-deco1
    display: none